@font-face {
  font-family: 'opensans';
  font-weight: 700;
  font-style: normal;
  src: local('opensansbold'),
    url('../fonts/opensansbold.woff2') format('woff2'),
    url('../fonts/opensansbold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'opensans';
  font-weight: 600;
  font-style: normal;
  src: local('opensanssemibold'),
    url('../fonts/opensanssemibold.woff2') format('woff2'),
    url('../fonts/opensanssemibold.woff') format('woff');
  font-display: swap;
}