@media (max-width: 1650px) {
  .header {
    &__logo {
      left: 40px;
    }

    &__inner {
      padding: 0 80px;
    }
  }

  .menu-btn {
    right: 40px;
  }

  .scroll-btn {
    right: 20px;
  }

  .one-page {
    margin-right: 120px;
  }

  .clients {
    max-width: 80%;
    margin: 85px auto 30px;

    &__slide {
      display: flex !important;
      justify-content: center;
      align-items: center;

      img {
        object-fit: contain;
      }
    }
  }
}

@media (max-width: 1480px) {
  .nav {
    &__link {
      font-size: 80px;
    }

    &__list {
      margin-top: 100px;
    }
  }

  .first-section {
    &__items {
      display: grid;
      grid-template-columns: repeat(3, 250px);
    }

    &__item {
      margin-bottom: 40px;
      max-width: 250px;
      width: 100%;
    }
  }
}

@media (max-width: 1260px) {
  .video {
    left: -50%;
  }

  .header {

    &__phone {
      margin-right: 20px;
    }

    &__title {
      font-size: 90px;
      margin-bottom: 30px;
    }

    &__subtitle {
      font-size: 56px;
    }

    &__box {
      flex-direction: column;
      align-items: flex-start;
    }

    &__application {
      margin: 0;
      margin-bottom: 40px;
    }
  }

  .nav-contacts {
    flex-direction: column;

    &__address {
      margin-bottom: 20px;
    }
  }

  .social-item {
    position: absolute;
    bottom: 20px;
  }

  .title {
    font-size: 55px;
  }

  .first-section {
    &__title {
      margin-bottom: 40px;
    }
  }

  .two-section {
    &__title {
      margin-bottom: 40px;
    }
  }

  .three-section {
    &__title {
      margin-bottom: 40px;
    }
  }

  .one-page {
    padding: 70px 0;
  }
}

@media (max-width: 1200px) {
  .accordion {
    &__title {
      font-size: 26px;
      padding-bottom: 5px;
    }

    &__num {
      margin-right: 40px;
      font-size: 40px;
      margin-top: 4px;
    }
  }

  .accordion__wrap {
    margin-right: 90px;
  }

  .work {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 1020px) {
  .nav {
    padding: 100px 20px 20px 100px;

    &__list {
      margin-top: 50px;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 970px) {
  .clients {
    margin: 70px 0 30px;
    max-width: 100%;
    width: 100%;
  }

  .three-section {
    padding: 70px 0 100px;
    margin: 0 !important;

    &__title {
      margin-right: 120px;
    }

    &__subtitle {
      width: auto;
      margin-right: 120px;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 30px;

    li {
      margin-right: 10px;
      padding: 0;
      font-size: 0;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active {
        button {
          background-color: #fff;
        }
      }

      button {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        border: none;
        font-size: 0;
        line-height: 0;
        background-color: transparent;
        border: 2px solid #fff;
        cursor: pointer;
        transition: all .3s;
      }
    }
  }

  .slick-arrow {
    transform: translateX(0);
    bottom: -55px;
    top: auto;
  }

  .slick-next {
    right: 0;
  }

  .slick-prev {
    left: 0;
  }

}

@media (max-width: 900px) {
  .first-section {
    &__items {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__item {
      margin: 0;
      margin-bottom: 40px;
      margin-left: 40px;
      padding: 0;
      padding-left: 90px;
      max-width: 100%;

      &::before {
        top: -5px;
        left: 25px;
      }
    }

    &__quest {
      text-align: left;
    }
  }
}

@media (max-width: 800px) {
  .video {
    left: -120%;
  }

  .header {
    &__inner {
      padding: 0;
      padding-left: 20px;
    }

    &__phone {
      display: none;
    }

    &__subtitle {
      font-size: 31px;
    }

    &__title {
      font-size: 59px;
    }

    &__application {
      padding: 11px 25px;
    }

    &__text {
      font-size: 13px;
      max-width: 480px
    }

    &__logo {
      left: 15px;
    }
  }

  .menu-btn {
    right: 15px;
    width: 45px;
    height: 45px;

    span {
      width: 15px;
      height: 2px;

      &:nth-child(1) {
        transform: translateY(-3px);
      }

      &:nth-child(3) {
        transform: translateY(3px);
      }
    }
  }

  .scroll-btn {
    &__icon {
      width: 28px;
      height: 28px;
    }

    &__text {
      font-size: 14px;
    }
  }

  .nav {
    padding: 100px 10px 20px 25px;

    &__link {
      font-size: 50px;
      -webkit-text-stroke-width: 2px;
    }
  }

  .nav-contacts {
    &__link {
      font-size: 14px;
    }

    &__address {
      font-size: 13px;
    }
  }

  .logo {
    left: 15px;
  }

  .scroll-btn {
    bottom: 20px;
    right: 0;
  }

  .one-page {
    overflow-x: hidden;
    margin-right: 60px;
  }

  .first-section {
    &__subtitle {
      font-size: 13px;
    }

    &__item {
      margin-left: 10px;
      padding-left: 70px;

      &::before {
        top: -7px;
        width: 50px;
        height: 50px;
      }
    }

    &__quest {
      font-size: 13px;
    }

    &__text {
      font-size: 13px;
    }
  }

  .title {
    font-size: 31px;
  }

  .accordion {
    align-items: center;

    &__title {
      font-size: 14px;
      line-height: 110%;

      &::before {
        width: 16px;
        height: 16px;
        right: -30px;
      }
    }

    &__num {
      margin-top: 0;
      font-size: 20px;
      margin-right: 20px;
      -webkit-text-stroke-width: 1px;
    }

    &__text {
      font-size: 13px;
      line-height: 130%;
      padding: 10px 0;
    }

    &__wrap {
      margin-right: 25px;
    }
  }

  .two-section {
    &__title {
      margin-bottom: 40px;
    }
  }

  .three-section {
    &__subtitle {
      font-size: 13px;
    }
  }

  .three-section {
    &__title {
      margin-right: 60px;
    }

    &__subtitle {
      margin-right: 60px;
    }
  }

  .slick-arrow {
    width: 20px;
    height: 20px;
    bottom: -43px;
  }
}


@media (max-width: 700px) {
  .video {
    left: -150%;
  }
}

@media (max-width: 600px) {
  .video {
    left: -175%;
  }
}

@media (max-width: 500px) {
  .video {
    left: -200%;
  }
}

@media (max-width: 400px) {
  .video {
    left: -250%;
  }
}

@media (max-width: 335px) {

  .header {
    &__title {
      font-size: 26px;
      -webkit-text-stroke-width: 1px;
    }

    &__inner {
      padding-left: 10px;
    }

    &__subtitle {
      font-size: 18px;
    }

    &__application {
      font-size: 16px;
    }

    &__logo {
      left: 15px;
      top: 25px;
    }
  }

  .menu-btn {
    top: 25px;
  }

  .nav {
    padding-top: 80px;

    &__list {
      margin-top: 25px;
    }

    &__link {
      font-size: 40px;
    }
  }
}